.col-md-6 {
    position: absolute;
    left: 25%;
}

.col-md-offset-3 {
    position: absolute;
    left: 25%;
}

.btn-primary {
    margin: 5px;
	width: 300px;
	padding: 10px;
	margin-left: 100px;
}