<div>
	<input type="submit" value="Ajouter un nouveau client" class="btn btn-primary" [routerLink]="['/update-client']" />
</div>
<br>

<table class="table table-bordered table-hover">
	<thead class="thead-light">
		<tr id="monRow">
			<th>Référence du client</th>
			<th>Nom du client</th>
			<th>Prénom du client</th>
			<th>Solde du compte courant</th>
			<th>Solde du compte épargne</th>
			<th colspan="2">Opérations</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let client of clients" [ngClass]="{ 'table-danger': ( (client.compteCourant.solde < 0) || (client.compteEpargne.solde < 0) ), 
			'table-success': ( (client.compteCourant.solde > soldeFortune) || (client.compteEpargne.solde > soldeFortune) ) }">
			<td>{{client.refClient}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.prenom}}</td>
			<td>
				<div *ngIf="client.compteCourant.etatActif">{{client.compteCourant.solde}} €</div>
				<div *ngIf="!client.compteCourant.etatActif">
					<a class="nav-link" [routerLink]="['/update-client', client.id]">Activer</a>
				</div>
			</td>
			<td>
				<div *ngIf="client.compteEpargne.etatActif">{{client.compteEpargne.solde}} €</div>
				<div *ngIf="!client.compteEpargne.etatActif">
					<a class="nav-link" [routerLink]="['/update-client', client.id]">Activer</a>
				</div>
			</td>
			<td>
				<button class="btn btn-info" (click)="goToDetails(client)">Détails</button>
			</td>
			<td>
				<button class="btn btn-info" (click)="deleteClient(client)">Supprimer</button>
			</td>
		</tr>
	</tbody>
</table>