<table class="table table-bordered table-hover">

  <thead class="thead-light">
    <tr id="monRow">
      <th>Référence du conseiller</th>
      <th>Nom du conseiller</th>
      <th>Prénom du conseiller</th>
      <th>Opérations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conseiller of conseillers">
      <td>{{conseiller.refEmployee}}</td>
      <td>{{conseiller.nom}}</td>
      <td>{{conseiller.prenom}}</td>
      <td>
        <button class="btn btn-info" (click)="loginAsConeiller(conseiller)">Login</button>
      </td>
    </tr>
  </tbody>
</table>